Q1. Create one variable containing following type of data:

In [3]:
a = "PW Skills"
type(a)

str

In [4]:
b = [1,2,3,4,5,"PW Skills", 23.4355, True]
type(b)

list

In [6]:
c = 54.5513463
type(c)

float

In [8]:
d = (5,778,64,3,"akshay", 643.43545, 4+5j)
type(d)

tuple

Q2. Given are some following variables containing data:

In [ ]:
var1 = " "
string type

In [ ]:
var2 = = ‘[ DS , ML , Python]’
string type

In [ ]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
list type

In [ ]:
var4 = 1.
float type

Q3. Explain the use of the following operators using an example

In [14]:
10/5

2.0

In [18]:
16%3

1

In [19]:
9 // 3

3

In [20]:
4 ** 2

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [25]:
e = (2,3,4,5,6,"PW Skills", 5655.56, 5+4j, True)

In [26]:
e

(2, 3, 4, 5, 6, 'PW Skills', 5655.56, (5+4j), True)

In [27]:
for i in e:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [ ]:
f = 10
g = 2
while f / g :
    print(f)
    f = f+2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [12]:
num_list = list(range(25))

In [13]:
num_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [14]:
for val in num_list:
    print(val)
    if val%3 == 0:
        print("it is divisible by 3")
    else:
        print("it is not divisible by 3")

0
it is divisible by 3
1
it is not divisible by 3
2
it is not divisible by 3
3
it is divisible by 3
4
it is not divisible by 3
5
it is not divisible by 3
6
it is divisible by 3
7
it is not divisible by 3
8
it is not divisible by 3
9
it is divisible by 3
10
it is not divisible by 3
11
it is not divisible by 3
12
it is divisible by 3
13
it is not divisible by 3
14
it is not divisible by 3
15
it is divisible by 3
16
it is not divisible by 3
17
it is not divisible by 3
18
it is divisible by 3
19
it is not divisible by 3
20
it is not divisible by 3
21
it is divisible by 3
22
it is not divisible by 3
23
it is not divisible by 3
24
it is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [27]:
z = [1,2,3,4,5,5,6,"akshay",12.345,False]

In [29]:
z

[1, 2, 3, 4, 5, 5, 6, 'ok', 12.345, False]

In [31]:
z[7] = "PWSkills"

In [32]:
z

[1, 2, 3, 4, 5, 5, 6, 'PWSkills', 12.345, False]

list is mutuable object

In [33]:
y = "ramesh"

In [34]:
y

'ramesh'

In [35]:
y[3] = "f"

TypeError: 'str' object does not support item assignment

string is immutuable object